body {
    background-color: white;
    padding: 50px 50px 50px 50px;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    padding-bottom: 50px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    padding-left: 15px;
}

#pictures {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    max-height: 600px;
}

#headerlinks {
    padding-right: 30px;
}

#name {
    position: fixed;
    bottom: 229px;
    right: 96px;
    width: 140px;
    height: 24px;
    font-size: 20px;
    background-color: white;
    font-weight: bold;
}

#position {
    position: fixed;
    bottom: 213px;
    right: 136px;
    width: 100px;
    height: 20px;
    font-size: 14px;
    background-color: white;
}

#phone {
    position: fixed;
    bottom: 53px;
    right: 36px;
    width: 200px;
    height: 35px;
    font-size: 18px;
    background-color: white;
}

#email {
    position: fixed;
    bottom: 163px;
    right: 36px;
    width: 200px;
    font-size: 14px;
    background-color: white;
}

#address {
    position: fixed;
    bottom: 93px;
    right: 36px;
    width: 200px;
    height: 50px;
    font-size: 16px;
    background-color: white;
}

#fax {
    position: fixed;
    bottom: 33px;
    right: 36px;
    width: 200px;
    height: 20px;
    font-size: 18px;
    background-color: white;
    float: left;
}

#company {
    position: fixed;
    bottom: 135px;
    right: 266px;
    width: 200px;
    height: 28px;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    background-color: white;
    color: #410041;
}
.button:hover {
    background-color: skyblue;
}

.button {
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 10px 10px;
    cursor: pointer;
    border-style: solid;
    border-width: 1.5px;
    border-color: black;
    border-radius: 50%;
}

input:focus {
  box-shadow: 8px 8px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 50%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 8px 8px 16px 12px rgba(0,0,0,0.4);
}

.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 500px;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
}

ul {
    list-style-type: square;
}

li {
    list-style-type: square;
    display: inline;
}

a {
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.normal {
    font-size: 12px;
    color: black;
    background: white;
    padding-left: 15px;
}

a {
    color: black;
}

a:hover {
    color: gray;
    text-decoration: underline;
}

.fade-out {
    opacity: 0;
    transition: none;
}

span {
    display: block;
}

.slides {
    display: none;
}

#images {
    width: 100%;
}

.center {
    text-align: center;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

#gallery {
    max-width: 250px;
    max-height: 250px;
}

#galleryfull {
    max-width: 400px;
    max-height: 400px;
}

@-webkit-keyframes fade{
    from {opacity: .2;}
    to {opacity: 1;}
}

@keyframes fade {
    from {opacity: .2;}
    to {opacity: 1;}
}
